@tailwind base;
@tailwind components;
@tailwind utilities;

.home-page{
    width: 90%; background: var(--dark-bg);
    color: var(--neon-yellow);
    transition: var(--transition);
    padding: 0;
    overflow:auto;
    padding: 25px;
}
body.light-theme .home-page{
background-color: var(--light-bg);
}
/* verticle nav  */
.vertical-nav {
    width: 100px;
    position: fixed;
    top: 100px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    clear: both;
}

body.light-theme {
    .vertical-nav{
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
        background-color: var(--light-bg);
        color: black;
    }
    /* modal theme */
  .modal-content {
    background-color: var(--dark-bg);
    color: var(--neon-yellow);
    border: 1px solid var(--neon-yellow);
  }

    .navbar{
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
        color: black;
        border-bottom:1px solid #1a1a1a ;
      }
    .navbar-brand{
        color: black;
    }
   
  }
.vertical-nav a {
    color: var(--color-light);
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    background: linear-gradient(145deg, var(--color-accent), #2a2a2a);
    box-shadow: inset 2px 2px 5px #1a1a1a, inset -2px -2px 5px #4a4a4a;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: background 0.3s, box-shadow 0.3s;
}

.vertical-nav a:hover {
    background: linear-gradient(145deg, #4a4a4a, #222);
    box-shadow: inset 2px 2px 5px #222, inset -2px -2px 5px #666;
}

.vertical-nav i {
    font-size: 24px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}

/* horizental nav */
.navbar{
    border-bottom: 1px groove var(--neon-yellow);
    margin-bottom: 20px;
    color: var(--neon-yellow);
}

  
@media (max-width: 950px) {
    .vertical-nav {
        height: 50px;
        width: 100%;
        position: fixed;
        bottom: 80px;
        top: auto;
        flex-direction: row;
        justify-content: space-around;
        background: var(--dark-bg);
        padding: 0;
        box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);
    }

    .vertical-nav a {
        flex-grow: 1;
        flex-direction: column;
    }
    .theme-toggle {
    margin: 130px 0;
    }
    .shoppingCard{
      width: 100%;
    }
   
}
/* header */
.header{
    width: 50%;
    margin: auto;
}

/* Shopping cards  */
h2 {
    position: relative;
    vertical-align: middle;
    padding: 10px 25px;
    color: #ccc;
    margin: 0;
}
h2 strong {
    vertical-align: middle;
    position: relative;
    z-index: 2;
    background: #24282f;
    padding: 4px 8px;
}
h2 span {
    vertical-align: middle;
    font-size: .7em;
    color: #aaa;
    margin-left: 10px;
}
h2:after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: 50%;
    height: 2px;
    left: 0;
    right: 0;
    background: #343a40;
}
.shoppingCards {
    display: flex;
    flex-wrap: wrap;
    
}
.shoppingCard {
    width: 180px;
    height: 270px;
    position: relative;
    margin: 10px;
    overflow: hidden;
    transition: .3s;
    border-radius: 10%;
    
}

.shoppingCard img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.shoppingCard figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 10px;
    font-size: 20px;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    transform: translateY(100%);
    transition: .3s;
}
.shoppingCard:hover figcaption {
    transform: translateY(0);
}
@media (max-width: 759px){
.shoppingCard{
    width: 100%;
}
}

 /* modal theme */
 .modal-content {
    background-color: var(--dark-bg);
    color: var(--neon-yellow);
    border: 1px solid var(--neon-yellow);
  }
.match-table tr td,.match-table th{
    background-color: #FFE600;
}
  